/* extra resets*/
/*html {
    box-sizing: border-box;
    
  *, *:before, *:after {
    box-sizing: inherit;
  }
  */

* {
  box-sizing: border-box;
}

/*common layout classes*/
.container {
  max-width: 1240px;
  max-height: 1000px;
  background-color: gray;
  margin: 0 auto; /*to center the element */
}
.container-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 8px;
  padding-top: 16px;
}

.body {
  font-family: "Raleway";
  font-family: "Playfair Display";
}

.aloha {
  order: 1;
  align-self: flex-start;
}
.cart {
  order: 3;
  align-self: flex-end;
}

.menu-list {
  order: 2;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  display: inline;
  word-spacing: 80px;
  text-transform: uppercase;
}

.container-small {
  max-width: 800px;
  background-color: white;
  margin: 0 auto; /*to center the element */
  text-align: center;
  font-size: 29px;
}

.small-description h2 {
  font-size: 38.4px;
  font-style: italic;
  margin-bottom: 24px;
  font-family: "Playfair Display Web,serif;";
}
.small-description p {
  font-size: 18.4px;
}
/* header area */

/* banner area */

.banner {
  background-size: 250px 615px, contain;
  position: relative;

  height: 422px;
  background-image: url(../images/banner-girl.png),
    url(../images/flower-bkgd.jpg);
  height: 500px;
  background-repeat: no-repeat, no-repeat, repeat-x, repeat-y;
  background-position: center, center;
  background-size: contain, cover;
  padding: 0px, 0px;
  margin: 0px, 0px, 0px, 0px;
  display: flex;
  justify-content: center;
}

/*ul,li{font-size: 16px;
display: inline;
word-spacing: 80px;
text-transform: uppercase;
}*/
.menu-list {
  text-decoration: none;
  color: red;
}

.new-collection {
  font-size: 20px;
  margin-bottom: 24px;
  height: 20px;
  width: 200px;
  order: 1;
  align-self: center;
  flex-basis: 100%;
  text-align: left;
  display: inline-block;
}
.logo-text {
  color: white;

  text-transform: uppercase;
  position: absolute;
  text-align: center;

  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
}
.spring {
  font-size: 40px;
  margin: 0;
  border: 0;
  height: 130px;

  order: 2;
  align-self: center;
}
p {
  font-family: Playfair Display Web, serif;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
/*newletter*/

.products {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.product-item {
  height: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-item:nth-child(1) {
  background-image: url(../images/mens-category.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  /*flex: 1 0 100%;*/
  width: 100%;
}
.product-item:nth-child(2) {
  background-image: url(../images/trends-category.jpg);
  text-align: center;
  background-position: center;
  background-size: cover;
  /* flex: 1 0 25%; */
  width: 50%;

  border: 4px solid white;
}

.product-item:nth-child(3) {
  background-image: url(../images/glasses-category.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  /* flex: 1 0 25%; */
  width: 50%;

  border: 4px solid white;
}

.product-item:nth-child(4) {
  background-image: url(../images/sale-category.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  /*flex: 0 0 50%;*/
  width: 50%;

  border: 4px solid white;
}

.product-item:nth-child(5) {
  background-image: url(../images/bags-category.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /*flex: 1 0 25%;*/
  width: 50%;

  text-align: center;
  border: 4px solid white;
}
.product-item:nth-child(6) {
  background-image: url(../images/womens-category.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* flex: 1 0 100%;*/
  text-align: center;
  width: 100%;
  border: 4px solid white;
}

/* THIS HAS TO BE MODIFIED LATER */
/* .rectangular {
  border-left: 0;
  border-right: 0;
  border: 4px solid #fff;
  position: relative;
} */

/* Here starts another section of the website*/
.newsletter {
  background-image: url(images/wave-bkgd.jpg);
  background-position: center;
  background-repeat: repeat-x;
  background-size: contain;
}

/* footer*/
.father {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 64px;
}

.fab {
  display: inline-block;
  padding: 8px;
  padding-right: 18px;
}
.social-name {
  color: white;
  text-decoration: none;
}

.facebook-text {
  display: none;
}
.instagram-text {
  display: none;
}
.twitter-text {
  display: none;
}
.pinterest-text {
  display: none;
}

@media screen and (min-width: 600px) {
  .fab {
    display: block;
  }

  .facebook-text {
    display: inline-block;
  }

  .instagram-text {
    display: inline-block;
  }

  .twitter-text {
    display: inline-block;
  }

  .pinterest-text {
    display: inline-block;
  }

  .product-item:nth-child(1) {
    width: 50%;
  }
  .product-item:nth-child(2) {
    width: 25%;
  }
  .product-item:nth-child(3) {
    width: 25%;
  }
  .product-item:nth-child(4) {
    width: 25%;
  }

  .product-item:nth-child(5) {
    width: 25%;
  }
  .product-item:nth-child(6) {
    width: 50%;
  }
}
