/* extra resets*/
/*html {
    box-sizing: border-box;
    
  *, *:before, *:after {
    box-sizing: inherit;
  }
  */

* {
  box-sizing: border-box;
}

/*common layout classes*/
html {
  scroll-behavior: smooth;
}

body{
  color: #2d2d2d;
  font-family: Raleway Web, sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 100;
  line-height: 2;}

img {
    max-width: 100%;
    height: auto;
}

.container {
  max-width: 100%;
  background-color: white;
  margin: 0 auto; /*to center the element */
  padding: 0 10%;
}
.most-loved {
  max-width: 100%;
  background-color: white;
  padding: 0% 0% 0% 0;
  font-size: 33px;
  font-style: italic;
  margin-bottom: 1.5rem;
  text-align: center;
}

.website-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.5rem 0.5rem 1rem;
}

.screen-reader {
  border: 0;
  overflow: hidden;
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  width: 1px;
}

.logo {
  align-self: flex-start;
  flex: 0 1 50%;
}
.logo img {
  max-width: 120px;
}

.cart {
  align-self: flex-end;
  cursor: pointer;
  
  text-align: right;
  width: 50px;
}

.navigation-list {
  align-self: center;
    height: auto;
    width: 100px;
}
.navigation-list ul {
  border-top: 1px solid #d7d7d7;
  padding-top: 0.5rem;
  text-align: center;
  display: flex;
}

.navigation-list li {
  display: inline-block;
  font-weight: 700;
  margin-top: 0px;
  margin-right: 1rem;
  margin-bottom: 0px;
  margin-left: 1rem;
  text-transform: uppercase;
}
.navigation-list li a {
  text-decoration: none;
  color: red;
  font-weight: 100;
  font-family: Raleway Web, sans-serif;
}
section {
  padding: 4rem 0 4rem 0;
}

.description {
  text-align: center;
}

.h1,h2,h3 {
  font-family: Playfair Display Web, serif;
  line-height: 1;
}
.description h2{
  font-size: 2.4rem;
    font-style: italic;
    margin-bottom: 1.5rem;
    text-align: center; 
    
}
.style{
  font-weight: 700; 
 font-style:normal;

}
.description p {
  text-align: center;
  font-size: 1.15rem;
}

/* header area */

/* banner area */
.banner{
  background-size: cover,150px 369px,cover;
  height: 400px;
  background-image: linear-gradient(180deg,rgba(0,0,0,.25)0,rgba(0,0,0,.25)), url(../images/banner-girl.png), url(../images/flower-bkgd.jpg);
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-position: center,center 60px,top;
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;


  
}

.new-collection {
  font-size: 20px;
  margin-bottom: 24px;
  height: 20px;
  width: 200px;
  order: 1;
  align-self: center;
  flex-basis: 100%;
  text-align: left;
  display: inline-block;
}
.logo-text {
  color: white;
  text-transform: uppercase;
  position: absolute;
  text-align: center;
  transform: translate(50%, 35%);
  left: -29%;
  bottom: 30%;
  top: 60%;
  height: 150px;
  width: 80%;}

.spring {
  font-size: 40px;
  margin: 0;
  border: 0;
  height: 130px;

  order: 2;
  align-self: center;
  font-family: Playfair Display, serif;
  text-transform: none;
}
.text_container {
  padding: 1% 0%;
  line-height: 30px;
}
p {
  font-family: Playfair Display, serif;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.newsletter{
  margin-bottom: 8px;
}
.newsletter h2 {
  text-align: center;
  font-family: Playfair Display Web, serif;
  
  
  font-size: 2.4rem;
  font-style: italic;
}
.product-name a{
  color: white;
  text-decoration: none;
  position: absolute;
  
  font-size: 22px;
  text-transform: uppercase;
  transform: translate(-50%,-50%);
  top: 50%;
  font-family: 'Raleway';
  font-weight: 600;

}
.different-names{
  position: relative;
}
.products {
 padding:0;
  
  /*width: 100%;
  padding: 0%;*/
}
.all-products{
  display: flex;
 
  flex-wrap: wrap;
  text-align: center;
}
.product-item {
  border-right: 0;

  border-left:0;
  flex: 2 0 100%;
  max-width: 100%;

}
.square , .rectangular{border: 4px solid #fff;
  position: relative;

}
.product-item.square{
  flex: 1 0 50%;
  max-width: 50%;
}

.product-item.rectangular {
  background-image:linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)), url(../images/mens-category.jpg);
  background-repeat:repeat,repeat,no-repeat;
  background-position: center,center,center;
  background-size:cover, cover,50%;
  text-align: center;
  /*flex: 1 0 100%;*/
 
}
/* leave border left here for media queries*/
.product-item:nth-child(1){border-right: 0;
  border-left: 0;

}
.product-item.rectangular::before{ padding-top: 50%;

}
.product-item.square::before{padding-top: 100%;}



.product-item.rectangular::before ,  .product-item.square::before {content: "";
display: block;}

.product-item.trends{background-image:linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)), url(../images/trends-category.jpg);
  text-align: center;
  background-position:center,center, center;
  background-size: cover,cover,50%;

}
/* leave this here for media queries*/
.product-item:nth-child(2) {

 border-left: 0;
 
}

.product-item.glasses {
  background-image: linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)), url(../images/glasses-category.jpg);
  background-repeat: repeat,repeat,no-repeat;
  text-align: center;
  background-position:center,center, center;
  background-size: cover,cover,50%;
  
  

  
}
.product-item:nth-child(3){
  border-right: 0;
}

.product-item.sales{
  background-image: linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)),url(../images/sale-category.jpg);
  background-repeat: repeat,repeat,no-repeat;
  text-align: center;
  background-position:center,center, center;
  background-size: cover,cover,50%;
  /*flex: 0 0 50%;*/
  width: 50%;

 
}
.product-item:nth-child(4) { 
  border-left: 0;
}

.product-item.bags {
  background-image:linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)), url(../images/bags-category.jpg);
  background-repeat:repeat,repeat, no-repeat;
  background-position:center,center, center;
  background-size:cover,cover,50%;
  
  /*flex: 1 0 25%;*/
  /*width: 50%;*/

  text-align: center;
  
}
/* Not adding any borders here -> */
.product-item:nth-child(5) {
  border-right: 0px;
}


.product-item:nth-child(6){border-right: 0;
 border-left: 0px;

}

.product-item.women{
  background-image:linear-gradient(180deg,rgba(0,0,0,.25) 0,rgba(0,0,0,.25)), url(../images/womens-category.jpg);
  background-repeat:repeat,repeat, no-repeat;
  background-position:center,center, center;
  background-size:cover,cover,50%;
  
  /* flex: 1 0 100%;*/
  text-align: center;
  /*width: 100%;
  border: 4px solid white;*/
}


/* THIS HAS TO BE MODIFIED LATER */
/* .rectangular {
  border-left: 0;
  border-right: 0;
  border: 4px solid #fff;
  position: relative;
} */

/* Here starts another section of the website*/
.typeof{
  font-size: .75rem;
  margin-bottom: .75rem;
  
}
.priceof , .typeof{
  text-transform: uppercase;
  color: #969696;
}
.carousel-cell {
  width: 100%;
  text-align: center;
  padding: 3rem 2rem;
}
.carousel-cell h3 {
  color: #e2574c;
  font-size: 24px;
}
.newsletter {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url(../images/wave-bkgd.jpg);
  background-position: 40% 100%;
  color: #fff;
  text-align: -webkit-center;
  
}
.sign-up{
  display: flex;
  flex-direction: column;
}
.newsletter p {
  padding: 0 10%;
  line-height: 2;

}
.email-form{
  position: relative;
  width: 50%;

}
.email-box {
  display: block;
  margin: 2rem auto 0;
 
 
}
input[type="email"] {
  padding: .8rem 1.75rem;
  padding-right: 2px;
  width: 100%;
  border: 0;
  border-radius: 25px;
  position: relative;
  font-size: 1rem;
}



input[type="submit"] {
  background-color: #e2574c;
  color: #fff;
  cursor: pointer;
  font-weight: 400;
  padding: 0.5rem 15px;
  position: absolute;
  right: .25rem;
  top: .30rem;
  border-radius: 30px;
  font-family: Raleway Web, sans-serif;
  font-size: 1rem;
}


/*input[type="submit"] {
  background-color: #e2574c;
  color: white;
  font-weight: 700;
  padding: 2vmax 5vmax;

  position: absolute;
  border-radius: 30px;
  right: 0.55vmax;
  top: 0.1vmax;
  display: inline-block;
}
/* footer*/
.info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #242424;
  color: white;
  padding: 0 2%;
  margin: 0 auto;
  width: 100%;
  padding: 4rem 0;

}
.contact{line-height: 1.5;

}
item1,p {
  font-size: 14px;
}
.phone-email{
  margin-top: 15px;
  margin-bottom: 15px;
}
.copyright.address,p {
  margin-block-start: 0px;
    margin-bottom: 0px;
  text-align: center;
}


.address{
  color: #969696;
    text-align: center;
}

.footer-icons{
  list-style: none;
    display: flex;
    flex-direction: row;
    justify-items: stretch;
}



.item2{
  display: flex;
  width: 100%;
  flex-direction: row;
  align-self: center;
      margin-top: 2rem;
      justify-content: center;
 
}

.fab {
  display: inline-block;
  padding: 8px;
  padding-right: 18px;
}
.social-name {
  color: white;
  text-decoration: none;
}

.facebook-text {
  display: none;
}
.instagram-text {
  display: none;
}
.twitter-text {
  display: none;
}
.pinterest-text {
  display: none;
}

@media screen and (min-width: 600px) {
  .banner {
    background-size:cover, 150px 369px,cover;
    height: 400px;
    background-image: linear-gradient(180deg,rgba(0,0,0,.25)0,rgba(0,0,0,.25)), url(../images/banner-girl.png), url(../images/flower-bkgd.jpg);
    background-position: center,center 60px, top;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    background-repeat:  no-repeat, no-repeat, repeat-x;}

    .logo-text {
    
    position: absolute;
  }
      .spring p{
        margin-block-start: 0em;
        margin-block-end: 0em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
      }

  .container {
    max-width: 1240px;
    max-height: 1000px;
    background-color: white;
    margin: 0 auto; /*to center the element */
  }
  .container-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 8px;
    padding-top: 16px;
  }

  body{
    color: #2d2d2d;
    font-family: Raleway Web, sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 100;
    line-height: 2;
   
  }
  .website-header{
    display: flex;
    align-items: center;
    
    align-items: center;
    padding: 1rem 0.5rem 0.5rem 1rem;}
    .logo {align-self: flex-start;
      flex: 0 0 0%;}
    .aloha {
    order: 1;
    align-self: flex-start;
    flex-basis: 20%;
  }
  .cart {
    
    order: 3;
    
  }
  
  
 
     .navigation-list{
      flex-basis: 40%;
      align-items: center;
      justify-content: center;}
    
    .navigation-list ul{
      border: 0px;
    padding-top: 0.5rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    }
  
  
  
  
    .info{
    text-align: left;
  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .info .item1{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    margin-left: 10%;
  }
  .item1{
    display: inline-block;
  }
  .contact p{
    text-align: left;
  }
  .item2 {
   
    display: flex;
    width: 10vmax;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10%;}

    .footer-icons,ul , li{
      list-style: none;
      float: right;
    display: flex;
    flex-direction: column;  
    justify-content: right;
    }
    .social-name,a{ display: flex;

    }

  .fab {
    display: block;
  }

  .facebook-text {
    display: inline-block;
  }

  .instagram-text {
    display: inline-block;
  }

  .twitter-text {
    display: inline-block;
  }

  .pinterest-text {
    display: inline-block;
  }
  
      
  @media screen and (min-width: 600px){
.product-name{    align-content: center;

}
.large{
  left: 50%;
}
.different-names{top: 50%;
  left: 50%;

}
        .product-categories {
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
        }

  .product-item:nth-child(1) {
    border-left: 0;
    border-right: 4px solid #fff;
}
  
  .product-item:nth-child(2) {
    border-left: 4px solid #fff;
  }
  .product-item:nth-child(3) {
    border-right: 0;
  }
  .product-item:nth-child(4) {
   
  }

  .product-item:nth-child(5) {
    flex-basis:  25%;
    border-left: 4px solid #fff;
  }
  .product-item:nth-child(6) {
    flex-basis:50%;
    border-right: 0;
    border-left: 4px solid #fff;

  }
  .product-item.square{
    flex-basis: 25%;

  } 
  

  }
  .product-item.rectangular{flex-basis: 50%;}

  @media screen and (min-width: 600px) {
  .carousel-cell {
    width: 50%;
  }

  .flickity-page-dots {
    position: absolute;
    width: 100%;
    bottom: -25px;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: center;
    line-height: 1;
  }
  sign-up {
    display: flex;
    flex-direction: column;
    padding: 0% 30%;}

  .newsletter p {
    padding: 0 20%;
    font-size: 18px;
  }
  
  input[type="submit"]{
  
    right: 0.2rem;
    
  }
  @media only screen and (min-width: 1240px){
    .banner {
        background-size: cover,250px 615px,contain;
        height: 550px;
        position: relative;}
   
    .logo-text {position: absolute;
      transform: translate(50%, -100%);
    
    }
    .carousel-cell {
      width: 25%;
      text-align: center;
      padding: 3rem 2rem;
    }
  }